.editingContent {
    margin-bottom: 12px;
    height: 100%;
}

.editingContent >* {
    margin-bottom: 20px;
    height: 100%;
}

.taskButtonContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

