.signUpContainer {
    display: flex;
    align-items: center;
    height: 100%;
}

.formSection {
    width: 50%;
    max-height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em
}

.infoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100vh;
    min-height: 49em;
    background: url("../../../../assets/image/LogBackground.jpg") no-repeat center / cover fixed; /* изменения здесь */
    border-bottom-left-radius: 200px;
    box-sizing: border-box;
}


@media screen and (max-width: 1000px) {
    .infoSection {
        display: none;
    }
    .formSection {
        width: 100%;
    }
}

.languageMenu{
    position: absolute;
    left: 30px;
    top:30px;
}

@media screen and (max-width: 600px) {
    .languageMenu {
        left: 0;
        top:0;
    }
}
.form {
    display: flex;
    flex-direction: column;
    width: 43%;
    height: 100%;
    margin-top: 1em;
}

@media screen and (max-width: 600px) {
    .form {
        width: 70%;
    }
}

.formHeader {
    position: relative;
    display: inline-block;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: -0.02em;
    text-align: left;
    line-height: 56px;
    color: #2b3674;
    margin: 0;
}

.formSubheader {
    font-weight: 400;
    letter-spacing: -0.02em;
    color: #a3aed0;
    margin: 8px 0;
    line-height: 16px;
}

.lineForm {
    width: 100%;
    border: none;
    background-color: #dee3f0;
    height: 1px;
}

.checkboxContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #2B3674;
    margin: 15px 0;
}

.checkbox {
    cursor: pointer;
}

.infoContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 3em 0;
}

.logoContainer {
    min-height: 250px;
    min-width: 250px;
    background: url("../../../../assets/image/logo.png") no-repeat center center;
    background-size: cover;
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 70%);
}

.infoBox {
    background-color: transparent;
    color: #dee3f0;
    width: 50%;
    max-height: 8em;
    border-radius: 26px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1em;
    gap:1em;
}

.learnInfo {
    width: 100%;
    margin: 0;
}

.infoLink {
    width: 100%;
    margin: 0;
}

.loaderContainer {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.loginError {
    color: red;
    font-size: 0.8em;
}