
.columnTitle {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 200px;
}

.editButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.editInput {
max-width: 100%;
}
