.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.gridContainer{
    display: flex;
    justify-content:left ;
}
.deleteAllUserContainer{
    display: flex;
    justify-content: flex-end;
    margin: 0 30px 5px 0;
    height: 40px;
}
.mainContainer {
    display: flex;
    height: 100%;
}
