.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    gap:10px;
}

.gridContainer{
    display: flex;
    justify-content:left ;
}

.deleteAllUsersContainer{
    display: flex;
    justify-content:space-between;
    align-items: center;
}


.dataGridContainer .MuiDataGrid-columnHeaderCheckbox {
    background-color: blue;
}