.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.gridContainer{
    display: flex;
    justify-content:left ;
}
.deleteAllUsersContainer{
    display: flex;
    justify-content:space-between;
align-items: center;
}
.mainContainer {
    display: flex;
    height: 100%;
}

.createUserError {
    margin: 20px 0;
    color: red;
}
