.multiSelectButton {
    display: flex;
    margin: 10px 5px 0 5px;
    gap: 10px;
}

.formControl {
    width: 100%;
    max-width: 200px;
}

.iconContainer{
    width: 30%;
    margin-right: 10px;
}
