.filterContainer {
    display: flex;
    width: 100%;

}
.mainFilterBox {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid rgba(224, 229, 242, 1);
    margin-bottom: 10px;
}