.filterContainer {
    display: flex;
    width: 100%;
}

.mainFilterBox {
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
}

@media screen and (max-width: 600px)  {
    .mainFilterBox {
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 70%;
        min-width: 340px;
        gap: 10px; /* Меньший отступ между элементами в узком экране */
    }

    .mainFilterBox > * {
        flex: 0 0 48%; /* Ширина каждого элемента 48% чтобы влезали два в строку с учетом gap */
    }
}
