.filterContainer {
    display: flex;
    width: 100%;
}

.mainFilterBox {
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

@media screen and (max-width: 600px)  {
    .mainFilterBox {
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 70%;
        min-width: 20em;
        gap: 10px;
    }

    .mainFilterBox > * {
        flex: 0 0 48%;
    }
}
