.input {
    width: 100%;
    max-width: 410px;
    height: 50px;
    border-radius: 16px;
    border: 1px solid rgba(224, 229, 242, 1);
    padding: 10px 15px;
    font-family: DM Sans;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #1A202C;
    margin-bottom: 15px;
    margin-top: 5px;
}