.input {
    width: 100%;
    max-width: 410px;
    height: 50px;
    border-radius: 16px;
    border: 1px solid rgba(224, 229, 242, 1);
    padding: 10px 15px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.02em;
    color: #2B3674;

    position: relative;
    }
.input::placeholder {

    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #A3AED0;
}
.error {
    font-size: 14px;
    color: red;
    margin-bottom: 60px;
    height: 36px;
    word-wrap: break-word;
    box-sizing: border-box;
}

.inputError {
    border-color: red;
}

.eyePassword {
    background-image: url("../../assets/image/EyePassword.png");
    position: absolute;
    height: 16px;
    width: 16px;
    top: 41px;
    right: 30px;
    cursor: pointer;
}