.mainContainer {
    display: flex;
    align-items: flex-start; /*important for correct drag and drop work*/
    max-height: 1077px;
}
.mainContainer > :not(:first-child):not(:last-child) {
    justify-content: space-between;
}

.addStatusButton{
    display: flex;
    width: 20%;
    margin-bottom: 20px;
    gap: 20px;
}

.selectContainer{
    display: flex;
}

.newStatusButton{
    max-height: 40px;
    width: 100%;
}
.newTaskButton{
    max-height: 40px;
    width: 100%;
}

