.mainContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-height: 1077px;
}
.logout {
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
}
.textAreaContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
}

.label {
    height: 14px;
    color: #2B3674;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: -0.05em;
    margin-bottom: 10px;
}.textArea {
     border-radius: 16px;
     border: 1px solid rgba(224, 229, 242, 1);
     padding: 10px 15px;
     font-family: "DM Sans", sans-serif;
     font-weight: 500;
     font-size: 14px;
     line-height: 14px;
     letter-spacing: -0.02em;
     color: #2B3674;
     min-height: 100px;
     max-width: 490px;
     min-width: 490px;
 }

.selectAction {
    width: 50%;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #FFB547;
    color: white;
    text-align: center;
    border:none;
}

.selectAction.blue {
    background-color: #3965FF;
}

.selectAction.red {
    background-color: #E31A1A;
}

.selectAction.green {
    background-color: #01B574;
}
.selectContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.taskForm {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 500px;
 }

