.mainContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-height: 1077px;
}

.addStatusButton{
    display: flex;
    width: 20%;
    margin-bottom: 20px;
    gap: 20px;
}
.newStatusButton{
    max-height: 40px;
    width: 100%;
}
.newTaskButton{
    max-height: 40px;
    width: 100%;
}

