.titleContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.title {
    flex: 8;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    letter-spacing: -0.02em;
    color: #2B3674;
    margin-top: 15px;
    margin-left: 9px;
    padding-bottom: 5px;
}

.misc {
    padding: 10px;
    margin-left: 85px;
    margin-top: 27px;
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    flex: 3;
    align-items: center;
    max-height: 61px;
    box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);
    border-radius: 30px;
}
.search {
    flex: 7;
    width: 100%;
    height: 100%;
}
.actionsMenu{
    margin-left: 20px;
    flex: 6;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.moonIcon{
    color: #A3AED0;
    cursor: pointer;
}
.notificationIcon{
    color: #A3AED0;
    cursor: pointer;
}
.infoIcon {
    color: #A3AED0;
    cursor: pointer;
}
.headerAvatar {
    height: 100%;
    cursor: pointer;
}