.header {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em;
    margin-bottom: 1em;
}

.misc {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    align-items: center;
    width: 35%;
    min-width: 18em;
    box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);
    border-radius: 30px;
    margin-bottom: 0.2em;
}
@media screen and (max-width: 600px) {
    .header {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .misc {
        width: 100%;
    }
}

.title {
    height: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8em;
    line-height: 1em;
    letter-spacing: -0.02em;
    color: #2B3674;
    margin-top: 0;
    margin-bottom: 0.1em;
}

.search {
    width: 50%;
    min-width: 8em;

}

.actionsMenu{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
