.taskForm > * {
    margin-bottom: 20px;
    height: 100%;
}

.buttonsContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.modalTaskCancel{
    width: 40%;
    height: 30%;
}

.modalTaskAdd {
    width: 40%;
    height: 30%;
}