.boxesContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2em;
    justify-content: center;
    margin-top: 2em;
}

.box {
    position: relative;
    width: 40%;
    max-height: 350px;
    overflow: hidden;
    margin: 0 10px;
    border: 1px solid rgba(163, 174, 208, 0.52);
    border-radius: 2em;
    box-shadow: 5px 5px 10px 10px rgba(96, 87, 87, 0.36);
}

.box img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.box:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.69);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.box:hover .overlay {
    opacity: 1;
}

.overlay p {
    text-align: justify;
    margin: 0;
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: clamp(3px, 1.3vw, 16px); 
}

@media screen and (max-width: 600px) {
    .boxesContainer {
        flex-direction: column;
        justify-content: center;
    }

    .box {
        width: 70%;
        margin: 0 auto;
    }
    .overlay p {
        text-align: justify;
        margin: 0;
        padding: 20px;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: clamp(3px, 2vw, 16px);
    }
}