.columnContainer {
    display: flex;
    border: 1px solid rgba(112, 126, 174, 0.34);
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    padding: 20px;
    border-radius: 10%;
}

.projectTitleName{
    display: flex;
    margin: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    letter-spacing: -0.02em;
}

.column {
    width: 100%;
    background: #FFFFFF;
    border-radius: 20px;
    min-height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding: 20px;
}

.deleteStatusButton {
    cursor: pointer;
    flex:1;
    background: #FFFFFF;
    height: 35px;
    padding: 0 8px 0 8px;
    border-radius: 12px;
    margin-right: 2px;
    margin-top: 4px;
    border: none;
}

.columnHead {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 33px;
}

.columnTitle {
    display: flex;
    flex-direction: row;
    flex:5;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.029em;
    color: #2B3674;
    margin-left: -5px;
    margin-bottom: 7px;
}

.columnBox {
    display: flex;
    width: 100%;
}


