.searchField {
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #8F9BBA;
}